{% raw %}
{{define "page:title"}}Check your inbox{{end}}

{{define "page:main"}}
<h2>Check your inbox</h2>
<p>We've emailed you instructions for resetting your password. You should receive the email shortly.</p>
{{end}}
{% endraw %}
