{% raw %}
{{define "page:title"}}Set a new password{{end}}

{{define "page:meta"}}
<meta name="referrer" content="origin">
{{end}}

{{define "page:main"}}
{{if .InvalidLink}}
    <h2>Invalid password reset link</h2>
    <p>The password reset link was invalid, possibly because it has already been used or has expired.</p>
    <p><a href="/forgotten-password">Get a new password reset link</a></p>
{{else}}
    <h2>Set a new password</h2>
    <p>Please enter a new password.</p>
    <form method="POST" action="/password-reset/{{.PlaintextToken}}" >
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        
        {{if .Form.Validator.HasErrors}}
            <div class="error">Something was wrong. Please correct the errors below and try again.</div>
        {{end}}
        <div>
            <label>New password:</label>
            {{with .Form.Validator.FieldErrors.NewPassword}}
                <span class='error'>{{.}}</span>
            {{end}}
            <input type="password" name="NewPassword">
        </div>
        <button>Set password</button>
    </form>
{{end}}
{{end}}
{% endraw %}
