{% raw %}
{{define "subject"}}Example subject{{end}}

{{define "plainBody"}}
Hi {{.Name}},

This is an example body

Sent at: {{now}}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi {{.Name}},</p>
    <p>This is an example body</p>
    <p>Sent at: {{now}}</p>
  </body>
</html>
{{end}}
{% endraw %}
