{% raw %}
{{define "partial:nav"}}
<nav>
    {{if .AuthenticatedUser}}
    <form method="POST" action="/logout">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{.AuthenticatedUser.Email}}
            &middot;
            <button class="link">Logout</button>
        </form>
    {{else}}
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
    {{end}}
</nav>
{{end}}
{% endraw %}
