{% raw %}
{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "page:title" .}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{block "page:meta" .}}{{end}}
        <link rel='stylesheet' href='/static/css/theme.css?version={{.Version}}'>
        <script src="/static/js/bundle.js?version={{.Version}}" defer></script>
    </head>
    <body>
        <header>
            <h1><a href="/">Example header</a></h1>
            {{template "partial:nav" .}}
        </header>
        <main>
            {{template "page:main" .}}
        </main>
        {{template "partial:footer" .}}
    </body>
</html>
{{end}}
{% endraw %}
